# MacOS
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# Temp paths
tmp/
temp/

# Editors
.idea/
.vscode/

# TypeScript
dist/

# npm
node_modules/
*.log
*.gz

# jest & nyc
coverage/
.nyc_output/

# dotenv
.env
